{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<main class="mainForm d-flex justify-content-center">
		<div class="formBG">
			<form action="{{ path('app_register') }}" method="post">
				<h1 class="text-center">Register</h1>

				{{ form_start(registrationForm) }}
				<label for="username" class="textFormLabel">Firstname:
					{{ form_row(registrationForm.firstname) }}</label>
				<label for="username" class="textFormLabel">lastname
					{{ form_row(registrationForm.lastname) }}</label>
				<label for="email" class="textFormLabel">Email:
					{{ form_row(registrationForm.email) }}</label>
				<div>
						{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
                        }) }}
					<input type="password" id="password" name="_password" class="form-control textForm rounded-0">
				</div>
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btnCineCar">Register</button>
				{{ form_end(registrationForm) }}

			</form>
		</div>
	</main>
{% endblock %}
