{% extends 'base.html.twig' %}

{% block title %}Vehicle index
{% endblock %}

{% block body %}


	<main class="mainIndex">

		<h1 class="indexTitle">OUR MOVIE VEHICLES FLEET</h1>

		<div class="d-flex justify-content-center formSearchIndex">
			<div class="mt-5 p-4">
				<form action="{{ path('app_vehicle_index') }}" method="post">
					<div class="form-row d-flex">
						<div class="form-group col-md-4 me-2">
							<label for="inputSearch" class="mb-2">
								<em class="mb-5 text-white">Find a Vehicle</em>
							</label>
							<input type="text" name="searchCar" class="form-control searchInput rounded-0" placeholder="ex: KITT">
						</div>
						<div class="form-group col-md-4 ms-2 me-2">
							<label for="inputSearch" class="mb-2">
								<em class="text-white">or a Movie</em>
							</label>
							<input type="text" name="searchMovie" class="form-control searchInput rounded-0" placeholder="ex: K2000">
						</div>
						<button type="submit" class="searchBtn ms-2">SEARCH</button>
					</div>
				</form>
			</div>
		</div>

		<div class="container text-center">
			<div class="row">

				{% if is_granted('ROLE_CONTRIBUTOR') %}
					<a href="{{ path('app_vehicle_new') }}">
						<button class="btnCineCar">
							CREATE NEW</button>
					</a>
				{% endif %}

				{% for vehicle in vehicles %}

					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
						<div class="card mb-5 cineCard" style="width: 18rem;">

							{% if is_granted('ROLE_CONTRIBUTOR') %}
								<div class="editVehicle">
									<a class="editVehicleText" href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">EDIT</a>
								</div>
							{% endif %}

							<img src="{{asset('build/images/' ~ vehicle.picture)}}" class="card-img-top rounded-0" alt="...">
							<div class="card-body">
								<h4 class="card-title h4CineCar">{{ vehicle.title }}</h4>
								<p class="card-text">{{ vehicle.movie.title }}:
									{{ vehicle.movie.year }}</p>
								<a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}">
									<button class="btnCardCineCar">
										SELECT</button>
								</a>

							</div>
						</div>
					</div>

				{% else %}

					<td colspan="18">no records found</td>
				{% endfor %}
			</div>
		</div>
	</div>


</main>{% endblock %}
