{% extends 'base.html.twig' %}

{% block title %}
	Vehicle
{% endblock %}

{% block body %}
	<h1 class="text-center m-5">Vehicle</h1>

	<div class="showVehicle d-flex w">
		<div class="w-75" style="background-image: url( {{vehicle.picture}})"></div>
		<div>
			<h2 class="h2CineCar">Description</h2>
			<p>{{ vehicle.description }}</p>

			<h2 class="h2CineCar">Your vehicle</h2>
			<ul>
				<li>Mileage:
					{{ vehicle.mileage }}
				</li>
				<li>Fuel:
					{{ vehicle.fuel }}
				</li>
				<li>Category:
					{{ vehicle.category }}
				</li>
				<li>General condition :
					{{ vehicle.generalCondition }}
				</li>
				<li>Transmition:
					{{ vehicle.transmition }}
				</li>
				<li>Nb Place:
					{{ vehicle.mileage }}
				</li>
				<li>Availability:
					{{ vehicle.availability }}
				</li>
				<li>Location:
					{{ vehicle.location }}
				</li>
				<li>Consumption:
					{{ vehicle.consumption }}
				</li>
				<li>Emissions:
					{{ vehicle.emissions }}
				</li>
				<li>Gps:
					{{ vehicle.gps }}
				</li>
				<li>Air Conditioning:
					{{ vehicle.airConditioning }}
				</li>
				<li>Title:
					{{ vehicle.title }}
				</li>
				<li>Licence:
					{{ vehicle.license }}
				</li>
			</ul>
		</div>
	</div>

{% endblock %}
