{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="bodyShow text-white text-center">
		<h1 class="h2showPage">{{ vehicle.title }}
		</h1>

		<main class="mainShow showbg">
			<div class="showVehicle">
				<div class="imageShow showbg">
					<img src="{{asset('build/images/' ~ vehicle.picture)}}" class="card-img-top " alt="...">
				</div>
				<div class="infoShow showbg">
					<h2 class="h2Cineshow ">Description</h2>
					<p class="text-white ulShow1">{{ vehicle.description }}</p>

					<h2 class="h2Cineshow showbg">Your vehicle</h2>
					<div class="d-flex">
						<ul class="text-white ulShow1">
							<li>
								<strong>Mileage:</strong>:
								{{ vehicle.mileage }}
							</li>
							<li>
								<strong>Fuel:</strong>
								{{ vehicle.fuel }}
							</li>
							<li>
								<strong>Category:</strong>
								{{ vehicle.category }}
							</li>
							<li>
								<strong>General Condition :</strong>
								{{ vehicle.generalCondition }}
							</li>
							<li>
								<strong>Transmition:</strong>
								{{ vehicle.transmition }}
							</li>
							<li>
								<strong>Nb Place:</strong>
								{{ vehicle.mileage }}
							</li>
							<li>
								<strong>Availability:</strong>
								{{ vehicle.availability }}
							</li>
						</ul>
						<ul class="text-white ulShow2">
							<li>
								<strong>Location:</strong>
								{{ vehicle.location }}
							</li>
							<li>
								<strong>Consumption:</strong>
								{{ vehicle.consumption }}
								l/100km
							</li>
							<li>
								<strong>Emissions:</strong>
								{{ vehicle.emissions }}g CO2/km
							</li>
							<li>
								<strong>Gps:</strong>
								{{ vehicle.gps }}
							</li>
							<li>
								<strong>Air Conditioning:</strong>
								{{ vehicle.airConditioning }}
							</li>
							<li>
								<strong>Title:</strong>
								{{ vehicle.title }}
							</li>
							<li>
								<strong>Licence</strong>
								{{ vehicle.license }}
							</li>
						</ul>
					</div>
				</div>

			</div>
		</main>
		<button class="btnCardCineCar mb-5">
			SELECT</button>
	</div>
{% endblock %}
