{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="bodyShow text-white text-center">
		<h1 class="h2showPage">{{ vehicle.title }}
		</h1>

		{% if vehicle.quote %}
			<h2 class="mb-5 fst-italic fw-normal">
				"{{ vehicle.quote }}"
			</h2>
		{% endif %}
		<main class="mainShow showbg">
			<div class="showVehicle">
				<div class="imageShow showbg">
					<img src="{{asset('build/images/' ~ vehicle.picture)}}" class="card-img-top " alt="...">
				</div>
				<div class="infoShow showbg">
					<h2 class="h2Cineshow ">Description</h2>
					<p class="text-white ulShow1">{{ vehicle.description }}</p>

					<h2 class="h2Cineshow showbg">Your vehicle</h2>
					<div class="d-flex">
						<ul class="text-white ulShow1">
							<li>
								<strong>Title:
								</strong>
								{{ vehicle.title }}
							</li>
							<li>
								<strong>Location:
								</strong>
								{{ vehicle.location }}
							</li>
							<li>
								<strong>Category:
								</strong>
								{{ vehicle.category }}
							</li>
							<li>
								<strong>Nb Place:
								</strong>
								{{ vehicle.nbPlace }}
							</li>
							<li>
								<strong>Mileage:
								</strong>
								{{ vehicle.mileage }}
							</li>
							<li>
								<strong>Fuel:
								</strong>
								{{ vehicle.fuel }}
							</li>

							<li>
								<strong>General Condition:
								</strong>
								{{ vehicle.generalCondition }}
							</li>
						</ul>
						<ul class="text-white ulShow2">

							<li>
								<strong>Consumption:
								</strong>
								{{ vehicle.consumption }}
								l/100km
							</li>
							<li>
								<strong>Emissions:
								</strong>
								{{ vehicle.emissions }}g CO2/km
							</li>
							<li>
								<strong>GPS:
								</strong>
								{% if vehicle.gps %}
									Yes
								{% else %}
									No
								{% endif %}
							</li>
							<li>
								<strong>Air Conditioning:
								</strong>
								{% if vehicle.airConditioning %}
									Yes
								{% else %}
									No
								{% endif %}
							</li>

							<li>
								<strong>License:
								</strong>
								{{ vehicle.license }}
							</li>
							<li>
								<strong>Transmition:
								</strong>
								{{ vehicle.transmition }}
							</li>
							<li>
								<strong>Availability:
								</strong>
								{% if vehicle.availability %}
									Available
								{% else %}
									Not Available
								{% endif %}
							</li>
						</ul>
					</div>
				</div>

			</div>
		</main>
		<a href="{{ path('app_vehicle_book', {'id': vehicle.id}) }}">
			<button class="btnCineCar mb-5">
				BOOK THIS CAR</button>
		</a>
	</div>
{% endblock %}
